# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages:
  - 'pre-commit'
  - 'pre-push'

default_install_hook_types:
  # - 'commit-msg'
  - 'pre-commit'
  - 'pre-push'
  # - 'prepare-commit-msg'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: cef0300fd0fc4d2a87a85fa2093c6b283ea36f4b  # frozen: v5.0.0
    hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
    - id: check-added-large-files
    - id: fix-byte-order-marker
    - id: file-contents-sorter
      files: .ci/spelling/dictionary-(custom|dapr|forbidden)-words\.txt$
      args:
        - '--ignore-case'
  - repo: https://github.com/keith/pre-commit-buildifier
    rev: 0040bb21f9f4b1ab5d825b70e93e0dd3fde9d7e6  # frozen: 8.2.0
    hooks:
    - id: buildifier
      args: &args
        - '--warnings=all'
    - id: buildifier-lint
      args: *args
  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: 3749de0c02b93bbbe0eae9d7d72da1ecf3c7a2e0  # frozen: v9.2.0
    hooks:
      - id: cspell
